* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.75rem; 
}

@media (min-width: 481px) and (max-width: 1024px) {
  html {
    font-size: 0.85rem;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 1rem;
  }
}

body {
  background-color: #f9f9f9;
  font-family: "Montserrat", serif;
}

input,
select,
textarea,
button {
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

[disabled]{
  cursor: not-allowed;
  opacity:.5;
}

a {
  text-decoration: none;
}