.searchContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
  border-radius: .5rem;
  border: 1px solid rgba(171, 171, 171, 1);
  width: 100%;
  max-width: 368px;
}

.inputSearch {
  border: 0;
  background-color: transparent;
  outline: 0;
  padding: .5rem;
}